<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact form</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Contact us page</h1>
    <form action="/contact-us" method="post">
      <label for="first-name">First name</label>
      <input id="first-name" name="firstname" />
      <label for="last-name">Last name</label>
      <input id="last-name" name="lastname" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
